.draft-list {
    width: 350px; /* Adjust width as needed */
    max-height: calc(100vh - 80px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: left;
    overflow-y: auto;
    border-radius: 10px;
  }
  
  .draft-list h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
  
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background: #f0f2f5; 
  }
  
  .ant-card {
    margin-bottom: 16px;
  }
    
  .ant-card:hover {
    background-color: #c9d0f06d;
  }